dist
dist-newstyle
cabal-dev
*.o
*.hi
*.chi
*.chs.h
.virthualenv
*~
.hsenv_*
dist_*
dist-*
cabal.project.local
.cabal-sandbox/
cabal.sandbox.config
.stack-work/
codex.tags
.ghc.environment.*
history
TAGS
.diagrams_cache
.shake.database
*.errors
*.pdf
Shake
*.aux
*.log
*.ptb
*.tex
*.bbl
*.blg
*.cut
*.out
ActiveDiagrams
semantics/diagrams/*
semantics/FARM/diagrams/*
.diagrams-cache
.stack-work
.shake

example/Animation
example/out/*
