dist
cabal-dev
*.o
*.hi
*.chi
*.chs.h
.virthualenv
*~
.hsenv_*
dist_*
history
TAGS
.diagrams_cache
.shake.database
*.errors
*.pdf
Shake
*.aux
*.log
*.ptb
*.tex
*.bbl
*.blg
*.cut
ActiveDiagrams
semantics/diagrams/*